@import '../../styles/globals.module.scss';

.titleContainer{
    background: url('../../public/moneyPlant.webp'), rgba($primaryDark, 0.65);
    background-repeat: no-repeat;
    background-size: 105%;
    background-blend-mode: overlay;
    background-position: bottom right;
    width: 100vw;
    height: 15rem;
    display: flex;
    flex-direction: column;
    padding-top: 2.5rem;

    @include for-tablet-up{
        height: 28rem;
    }

    @include for-desktop-up {
        background-size: 79%;
        background-position: top 61% right 0;
        background-repeat: repeat;
        padding-top: 6rem;
    }


    div{
        color: white;
        font-size: 2.2rem;
        text-align: right;
        right: 0;
        margin-right: 1rem;
        font-family: 'Merriweather', serif;

        @include for-tablet-up{
            font-size: 3.2rem;
        }

        @include for-desktop-up {
            margin-right: 10%;
        }
    }
}