@import '../../styles/globals.module.scss';

.testimonialContainer{
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    overflow: hidden;

    .innerContainer{
        width: 100vw;
        height: fit-content;
        background: rgb(11,51,1);
        background: radial-gradient(circle, rgba(11,51,1,1) 52%, rgba(8,1,8,1) 72%);
        color: $primaryLight;
        font-size: 1.2rem;
        font-family: 'Roboto', sans-serif;

        p{
            padding: 0 1rem;

            @include for-tablet-up {
                font-size: 1.3rem;
                padding: 0 2rem;
            }
            @include for-desktop-up {
                font-size: 1.7rem;
                padding: 0 20rem;
            }
        }

        .svgBottom{
            transform: translateY(16px);

            @include for-desktop-up {
                transform: translateY(64px);
            }
        }
    }
}