@import '../../styles/globals.module.scss';

.testimonialContainer{
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    background-color: $primaryLight;
    overflow: hidden;

    .innerContainer{
        width: 100vw;
        height: fit-content;
        background: rgb(11,51,1);
        background: radial-gradient(circle, rgba(11,51,1,1) 52%, rgba(8,1,8,1) 72%);
        color: $primaryLight;
        font-size: 1.2rem;

        p{
            padding: 0 1rem;
        }
    }
}