@import '../../styles/globals.module.scss';

.testimonialContainer{
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    overflow: hidden;

    .innerContainer{
        width: 100vw;
        height: fit-content;
        background: rgb(11,51,1);
        background: radial-gradient(circle, rgba(11,51,1,1) 52%, rgba(8,1,8,1) 72%);
        color: $primaryLight;
        font-size: 1.2rem;
        font-family: 'Roboto', sans-serif;

        p{
            padding: 0 1rem;
        }

        .svgBottom{
            transform: translateY(6px);
        }
    }
}