@import "../../../styles/globals.module.scss";

.overlay {
  display: none;
  height: 1000vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
}

.overlay.active {
  display: inline-block;
}

.navContainer {
  background-color: $primaryLight;
  height: 3.2rem;
  width: 100vw;
  border-bottom: 0.3rem solid gold;
  font-family: "Merriweather", serif;
  display: flex;
  position: sticky;
  position: fixed;
  z-index: 5;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  width: 100vw;

  .title{
    font-size: 2.2rem;
    font-family: "Merriweather", serif;
  }

  a {
    color: $primaryDark;
    font-size: 1.7rem;
  }

  .navMenu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: $primaryMed;
    padding: 0;
    height: 40vh;
    width: 100%;
    margin: 0;
    border-radius: 10px;
    list-style: none;
    text-align: center;
    transition: all 0.4s ease-in-out;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    top: 0;
    transform: translateX(2000px);

    a {
      font-size: 1.7rem;
      font-weight: 400;
      color: white;
      text-decoration: none;
      align-self: center;
    }

    a.active {
      text-decoration: underline;
      color: gold;
    }
  }

  .navMenu.active {
    transform: translateX(0px);
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    background-color: $primaryDark;
    right: 1em;
  }

  .burger {
    position: relative;
  }

  .burger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .burger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .burger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
