@import '../../styles/globals.module.scss';

.aboutContainer{
    background-color: $primaryLight;
    padding: 0 1.2rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;

    @include for-desktop-up {
        padding: 0 12rem;
        padding-bottom: 2rem;
    }

    .headerContainer {
        width: 100vw;
        height: 15rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $primaryDark;

        @include for-desktop-up {
            height: 20rem;
        }
    
        .photoContainer {
            background: url('../../public/DavisonTomphoto2.jpg');
            background-color: $primaryDark;
            background-position: center;
            background-size: cover;
            border-radius: 40% 55% 62% 47% / 41% 44% 56% 60%;
            border: 2px solid gold;
            height: 175px;
            width: 175px;

            @include for-desktop-up {
                height: 275px;
                width: 275px;
            }
        }
    }
    h1{
        font-family: 'Merriweather', serif;
        text-align: center;
        color: $primaryDark;
        font-size: 2.5rem;
    
        @include for-tablet-up{
            font-size: 3.5rem;
        }
    }
    
    p{
        font-size: 1.5rem;
        color: white;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 1.5px;
        border: 2px solid $primaryDark;
        border-radius: 0.5rem;
        background-color: $primaryDark;
        margin: 1rem;
        padding: 1rem;
        box-shadow: -5px 5px 8px $gray;
    
        @include for-tablet-up{
            font-size: 2rem;
        }
        
        @include for-desktop-up {
            margin: 0;
            padding: 4rem;
            align-self: center;
        }
    }

}